$primary-background-color: #4076E5;
$primary-background-light-color: rgba(255, 255, 255, 0.7);
$alt-background-color: #FFFFFF;

$primary-text-color: #4076E5;
$primary-text-light-color: rgba(64, 118, 229, 0.5);
$secondary-text-color: #5E5E5E;
$alt-text-color: #FFFFFF;

$primary-border-color: #FFFFFF;