// SCREEN RESOLUTIONS
$desktop-width: 1281px;
$laptop-min-width: 1025px;
$laptop-max-width: 1280px;
$tablet-min-width: 768px;
$tablet-max-width: 1024px;
$mobile-min-width: 481px;
$mobile-max-width: 767px;
$smaller-mobile-min-width: 320px;
$smaller-mobile-max-width: 480px;

// APP CONTAINER PADDING
$app-container-padding-desktop: 0 3% 0 3%;
$app-container-padding-laptop: 0 2% 0 2%;
$app-container-without-padding: 0%;

//font sizes
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 24px;
$font-size-sl: 30px;

// spacings
$spacings-xs: 5px;
$spacings-s: 10px;
$spacings-md: 15px;
$spacings-lg: 20px;
$spacings-xl: 30px;
$spacings-sl: 50px;


//border radius

$primary-border-radius: 8px;